@import 'config';
@import 'colors';

/**{box-sizing: border-box;}*/
body{
    min-width: 100%;
    background-color: $color2;
    margin: 0;
    position: $position;
    font-family: Arial, Helvetica, sans-serif;
    
}

@function text-color($color){
    @if(lightness($color)>70){
        @return #333;
    }@else{
        @return #fff;
    }
}

nav{
    background-color: $color3;
    margin-top: 0px;
    padding: 0.5px;
    color:text-color($color3);
    max-width: 100%;
    position: sticky;
    top: 0;
    /*border: 1px solid red;*/

    ul{
        list-style-type: none;
        position: relative;
       

        li{
            display: inline-block;
            margin: -17px 45px -16.5px -40px;
            padding: 16.5px;
            /*border: 1px solid red;*/

            &:hover{
                background-color: grey;
            }

            a{
                text-decoration: none;
                color: inherit;
                /*border: 1px solid red;*/
            }

            }
        .more{
            position: relative;


            &:hover .moreitems{
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                background: $color3;
                color: text-color($color3);
            }
        }
    


    }
    .moreitems{
        display: none;
        background-color: rgb(248, 248, 248);
        color: text-color(rgb(255, 255, 255));
        padding:  0;
        width: 200%;
       


        li{
            display: block;
            margin-left: 0;
            width: 89%;
            padding: 8px 10px;
            margin:  0;
            /*border: 1px solid green;*/

            &:hover{
                background: honeydew;
                color: text-color(honeydew);
                width: auto;
            }
        }


    }
.material-icons{
    display: inline;
    text-decoration: none;
    color: text-color($color3);
    padding: 20px;
    font-size: 18px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    /*border: 1px solid blue;*/
    
    &:hover{
        background: rgb(236, 41, 41)
    }
}
}

#images{
    max-width: 100%;
    min-height: 680px;
    text-align: center;
    position: relative;
    z-index: -1;
    top: -35px;
    padding: 0;
    /*background-image: url('../images/band1.jpg');*/
    background-origin:padding-box;
    background-size: 100% 680px;
    background-repeat: no-repeat ;
    /*border: 1px solid gold;*/
    animation: bgimg 10s infinite 0s;
    animation-timing-function:steps(2, jump-none);

.text{
color: $color2;
font-size: 16px;
font-weight: lighter;
position: absolute;
bottom: 50px;
left: 40%;
visibility: hidden;
}

#new{
    animation: visi1 10s steps(2, jump-none)  infinite ;
}

#chi{
    animation: visi2 10s steps(2, jump-none) infinite;
}

#los{
    animation: visi3 10s steps(2, jump-none)  infinite;
}
}

@keyframes bgimg{
    0%{background-image: url('../images/band1.jpg');}
    50%{background-image: url('../images/band2.jpg');}
    100%{background-image: url('../images/Eagles\ 62.jpg');}
}

@keyframes visi1{
    0%{visibility: visible;}
    50%{visibility: hidden;}
}
@keyframes visi2{
    50%{visibility: visible;}
    100%{visibility: hidden;}
}
@keyframes visi3{
    50%{visibility: hidden;}
    100%{visibility: visible;}
}

@mixin padding {
    padding: 80px 300px;

}

.h1{
    max-width: 50%;
    margin: 0 auto;
    font-weight: lighter;
}
.we{
max-width: 50%;
margin: 0 auto;
font-size: 15px;
line-height: 4em;
font-style: oblique;
color: rgb(161, 131, 131);
/*border: 1px solid red;*/
padding: 0;
}

#band{
    text-align: center;
    @include padding;
    /*border: 1px solid red;*/
    margin-top: -35px;

    


.plenty{
    text-align: justify;
    line-height: 1.5em;
    margin-top: -7px;
}

.grapher{
    display: flex;
    flex-wrap: nowrap;
   /* border: 1px solid red;*/
    justify-content: space-evenly;

    figure{
        margin-bottom: 30px;

        figcaption{
            margin-bottom: 15px;
        }
        
        img{
            border-radius: 5px;
            object-fit: cover;
        }
    }
}
    
}

#tour{
    text-align: center;
    @include padding;
    background: $color3;

    .three:not(:last-child){
        border-bottom: 1px solid $similartxtcolor;
    }

    .three{
        background-color: $color2;
        color: $similartxtcolor;
        padding: 12px;
        margin-bottom: -15px;
        text-align: left;
        position: relative;
        font-size: 15px;

        span{
            background-color: rgb(245, 11, 11);
            color: $color2;
            margin-left: 15px;
            padding: 5px 7px;
            font-size: $font-size;
        }

        #span3{
            display: inline-block;
            color: $color2;
            border-radius: 100%;
            width: 15px;
            text-align: center;
            position: absolute;
            right: 30px;
            background: $color3;
        }
    }

    .buildings{
        display: inline-grid;
        grid-template-columns: auto auto auto;
        margin-top: 40px;
        grid-gap: 0 15px;
        /*border: 1px solid $color1;*/
        
        .inside{
            background: $color2;
            /*border: 1px solid red;*/
           
            img{
                width: 100%;
                height: 150px;
               object-fit: cover;
            }

            .writing{
                text-align: left;
                font-size: 15px;
                padding: 0px 15px;
                margin-top: -4px;
                /*border: 1px solid red;*/
                padding-bottom:  10px;

                p:nth-child(even){
                    color: $similartxtcolor;
                }

                a{
                    display: inline-block;
                    text-decoration: none;
                    padding: 10px 15px;
                    text-align: center;
                    color: $color2;
                    background-color: $color3;
                    margin-top: 0px;
                    
                }
            }
        }
    }

}

#contact{
    @include padding;
    text-align: center;
    background-color: rgb(161, 131, 131);
    h1+p{
        margin-top: -15px;
    }

    #contactelements{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        /*border: 1px solid red;*/
        margin-bottom: 50px;
        margin-top: 30px;
        position: relative;

       /*&::after{
            content: "";
            clear: both;
            display: table;
        }*/
        

        .findus{
            line-height: 1.7em;
            text-align: left;

            span{
                display: inline-block;
                margin-right: 15px;
            }
        }

        form{
            /*border: 1px solid rgb(0, 255, 85);*/
            position: relative;
            

            &::after{
                content: "";
                clear: both;
                display: table;
            }
            
            [placeholder="Email"]{
                margin-left: 10px;
            }

            [name="message"]{
                margin-top: 10px;
                width: 92.5%;
            }

            input{
                padding: 13px;
                border: 1px solid silver;
            }

            [type="submit"]{
                padding: 10px 15px;
                position: absolute;
                right: 0;
                top: 110%;
                background-color: $color3;
                color: text-color($color3);
                border-style: none;

                &:hover{
                    background-color: gray;
                    color: black;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){

body{
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 0.5rem;
    transform: scaleX(0.5);
    resize: both;
    //border: 1px solid red;
    //padding: 10px;
}

body::after{
content: "";
clear: both;
display: table;
}

#images{
display: none;
}

.material-icons{
    position: relative;
    top: -15px;
    font-size: smaller;
}

}

@media screen and (min-width: 100%){

    body{
        text-align: center;
        display: grid;
        place-items: center;
        padding-block-end: 0;
        font-size: 0.5rem;
        resize: both;
        padding: auto 0px;
        
    }

    *{
        padding: 10px 0;
    }


    }